﻿
<link rel="import" href="./dependencies.html" />
<dom-module id="component-signature">

    <template>
        <style>
            .sig-element {
                border: 1px solid #000;
                height: 150px;
                background-color: #ccc;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .sig-overlay {
                visibility: hidden;
                opacity: 0;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, .5);
                transition: all 600ms ease;
                -webkit-transition: all 600ms ease;
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                -webkit-justify-content: center;
                margin: auto;
                align-items: center;
                -webkit-align-content: center;
                flex-direction: column;
                -webkit-flex-direction: column;
                z-index: 100;
            }

            .sig-box {
                width: 80%;
                height: 200px;
                background-color: #fff;
            }

            .sigButtonContainer {
                width: 80%;
                margin: 0 auto 0 auto;
                display: flex;
                padding-top: 10px;
                z-index: 5;
            }

                .sigButtonContainer button {
                    width: calc(50% - 5px);
                    height: 50px;
                }

                    .sigButtonContainer button:first-child {
                        margin-right: 10px;
                    }

            .showSig {
                visibility: visible;
                opacity: 1;
            }
        </style>


        <div class="sig-element" on-click="show">

        </div>
        <div class="sig-overlay">
            <div class="sig-box"></div>
            <div class="sigButtonContainer">
                <button type="button" class="btn sigButtons" on-click="hide">Cancel</button>
                <button type="button" class="btn sigButtons" on-click="done">Done</button>
            </div>
        </div>

    </template>

    <script>

        (function () {

            var _signatureCanvas = null;

            var _controller = {

                getOverlayHandle: function (parentId) {
                    if(!parentId){
                        return document.querySelector('.sig-overlay');
                    }
                    else{
                        return document.querySelector('#' + parentId + ' .sig-overlay');

                    }

                },

                getSigHandle: function (parentId) {
                    return document.querySelector('#' + parentId + ' .sig-element');
                },

                getSigBox: function (parentId) {
                    return document.querySelector('#' + parentId + ' .sig-box');
                },

                resizeCanvas: function () {
                    if (_signatureCanvas) {
                        var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

                        _signatureCanvas.setWidth(w * .8);
                        _signatureCanvas.renderAll();
                    }// if
                },

                bind: function (parentId) {

                    try {
                        var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                        var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

                        // init sig
                        var canvasEle = document.createElement('canvas');
                        canvasEle.id = 'canva';
                        canvasEle.className = 'canvas-style';
                        var sig = _controller.getSigBox(parentId);

                        if (sig) {
                            sig.appendChild(canvasEle);

                            _signatureCanvas = new fabric.Canvas('canva', {
                                height: 200,
                                width: w * .785,
                                selection: false
                            });
                            _signatureCanvas.isDrawingMode = true;
                            _signatureCanvas.freeDrawingBrush.width = 2;
                            _signatureCanvas.freeDrawingBrush.color = 'rgb(0, 0, 0)';

                            window.addEventListener('resize', _controller.resizeCanvas, false);

                        }// if

                    } catch (e) {
                        console.error('component-signature.html init error', e);
                    }

                },

                clear: function (parentId) {
                    _signatureCanvas.clear();
                },

                getData: function (parentId) {

                    return _signatureCanvas.toDataURL({
                        format: 'png'
                    });

                },

                setSignature: function (parentId, dataUrl) {
                    var sig = _controller.getSigHandle(parentId);

                    if (sig) {
                        if (dataUrl) {
                            sig.style.backgroundImage = 'url("' + dataUrl + '")';
                        } else {
                            sig.style.backgroundImage = 'none';
                        }// if
                    }// if


                }

            };

            // init polymer
            Polymer({
                is: "component-signature",
                properties: {
                    id: {
                        type: String,
                        value: ''
                    },
                    dataURL: {
                        type: String,
                        value: '',
                        observer: '_dataURLChanged'
                    },
                    enabled: {
                        type: Boolean,
                        value: true,
                        observer: '_enabledChanged'
                    }
                },
                _dataURLChanged: function (newValue, oldValue) {
                    this.dataURL = newValue;

                    _controller.setSignature(this.id, newValue);
                },
                _enabledChanged: function (newValue, oldValue) {
                    this.enabled = newValue;
                },
                bind: function(dataUrl){
                    _controller.bind(this.id);

                },
                clear: function () {
                    _controller.clear(this.id);
                    var sig = _controller.getSigHandle(this.id);
                    if (sig) {
                        sig.style.backgroundImage = '';
                    }// if-else
                },
                show: function (caller, callback) {
                    var enabled = this.attributes.enabled ? this.attributes.enabled.value == 'true' : false;

                    if (this.enabled && enabled) {
                        var body = document.querySelector('body');
                        body.style.overflow = 'hidden';

                        var overlay = _controller.getOverlayHandle(this.id);
                        if(devicePlatform == 'Android'){
                            overlay.style.top = (body.scrollTop || 0) + 'px';
                        }
                        overlay.className += ' showSig';
                    }// if
                },

                hide: function () {

                    var overlay = _controller.getOverlayHandle(this.id);
                    if (overlay) {
                        overlay.style.top = '0px';
                        overlay.className = overlay.className.replace(/showSig/g, '');
                    }// if

                    document.querySelector('body').style.overflow = 'auto';
                    _controller.clear(this.id);

                },

                done: function () {

                    // get sig
                    var data = _controller.getData(this.id);
                    _controller.setSignature(this.id, data);

                    // trigger event
                    this.fire('signed', { dataUrl: data });
                    /*
                        Listener Example: Use the following to listen for signed event for parent:

                        document.querySelector('component-signature')
                            .addEventListener('signed', function (e) {
                                console.log(e.detail.dataUrl); // data
                            })
                    */

                    // hide
                    this.hide();

                },

                getSignature: function () {
                    return _controller.getData(this.id);
                },
                setSignature: function (dataUrl) {
                    _controller.setSignature(this.id, dataUrl || this.dataUrl);
                },
                ready: function () {

                    _controller.bind(this.id);

                }
            });

        })();
    </script>

</dom-module>